.composeButton {
  cursor: pointer;
  font-size: 24px;
  padding: 0.3em;
  border-radius: 0.3em;
  margin: 2em 0.2em;
}
.composeButton:hover {
  background-color: rgb(220,220,220);  
}
.modal {
  outline: none;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.composer {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.composer input,
.composer textarea {
  padding: 0.6em;
  border: 1px solid rgb(200, 200, 200);
}

.composer > * {
  margin: 0.4em 0;
}

.composer textarea {
  width: 50vw;
  height: 10em;
  resize: none;
}

.actions {
  margin: auto;
  margin-top: 1em;
}

.actions > button {
  margin: 0 0.5em;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0.3em 1em;
  border-radius: 0.5em;
}

.cancel_email {
  color: var(--error);
  background-color: transparent;
}

.send_email {
  color: var(--on-primary);
  background-color: var(--primary);
}

.email {
  padding: 1em;
  border-bottom: 1px solid rgb(200, 200, 200);
  width: 100%;
  display: flex;
}
.email div {
  display: flex;
  flex-direction: column;  
  padding-right: 1em;
  width: 300px;
}
.email div span:last-child{
  font-size: 0.85em;
  opacity: 0.5;
  margin-top: 0.3em; 
  width: 100%;
  max-width: 100%;
}

.email > span:first-child {
  display: inline-block;
  width: 120px;
  min-width: 120px;
  margin-right: 1em;  
}
.email > span:last-child {
  opacity: 0.5;  
}
