:root {
  --primary: #006587;
  --secondary: #4c626a;
  --error: rgb(186, 27, 26);
  --background: #fcfcff;
  --on-primary: #fff;
  --on-secondary: #fff;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
}

html, body {
  padding:0;
  margin:0;
}

