.ul {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  list-style: none;
}

.ul a, .ul a:visited {
  text-decoration: none;
  color: inherit;
}

.ul li {
  padding: 0.2em 0.5em;
}


.ul span:first-child {
  font-weight: bold;
  margin-right: 1em;
}


.topbar {
  position: absolute;
  top:0;
  width: 100vw;
  height: 40px;
  background-color: var(--primary);
  color: var(--on-primary);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.body {
  padding-top: 43px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}