.main {
  display: flex;
  height: 100vh;
  padding: 0;
}

.main,
.main * {
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.palette {
  min-width: 200px;
}
.pantone {
  list-style: none;
}
.pantone li {
  padding: 1em 1.2em;

}

.palette button {
  padding: 0.5em 1em;
  border: none;
  background-color: var(--primary);
  color: var(--on-primary);
  border-radius: 0.3em;
  margin: 1em ;
  cursor: pointer;
  font-size: 1.5rem;
}

.phone {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 1.8rem;
  padding: 0em;
  width: 320px;
  height: 600px;
  margin: 2em;
}

.phone .phonecontent {
  flex-grow: 1;
  overflow-y: scroll;
  list-style: none;
  padding: 0.3em;
  margin: 0;
}

.phone .topbar {
  border-top-left-radius: 1.45rem;
  border-top-right-radius: 1.45rem;
}
.phone .topbar div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.phone .topbar div:first-child span {
  background-color: black;
  height: 14px;
  width: 50px;
  border-radius: 0.5rem;
  margin: 10px 5px;
}
.phone .topbar div:first-child span:first-child {
  width: 14px;
}

.phone .topbar h1 {
  margin: 0;
  padding: 0.1em 1em;
  margin-bottom: 0.3em;
}
.phone .bottombar {
  margin: 0;
  border-bottom-left-radius: 1.45rem;
  border-bottom-right-radius: 1.45rem;
  display: flex;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone .bottombar li {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  margin: 0 0.5em;
  cursor: pointer;
}

.phone .bottombar li small {
  font-size: 10px;
}

.email {
  border-bottom: 1px solid gray;
  display: flex;
}
.email * {
  margin: 0;
  margin-bottom: 0.16em;
}
.email div:nth-child(3){
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.1rem;
  cursor: pointer;
}

.email div:nth-child(3) * {
  display: block;
  margin: 0.15em
}

.email h1 {
  font-size: 0.85rem;
}

.email p {
  margin-top: 0.4em;
  font-size: 0.8rem;
}

.email small {
  display: block;
  margin: 0.3rem 0;
  opacity: 0.6;
}